@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
  themes: light --default;
 }

input:focus {
  outline: none;
  box-shadow: none;
}

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  position: relative;
}